body{
    background: url(images/sunset.jpg);
    background-position: center;
    overflow-x: hidden;
    color: white;
}
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: black;
    opacity: 0.5;
}
.texts{
    position: absolute;
    margin: 15% 20%;
    width: 70rem;
}